.NavList{
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding:0px;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
    /* ekhon ami line height add korbo figma teo jehetu width 25 e giyeche line height diye line er upor niche ektu baralam */
    line-height: 1.5;
    
}
.NavList a{
    text-decoration: none;
    color: black
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
.container{
    max-width: 1296px;
    /* jehetu amar screen size 1536 toh emnei figmar sathe halka mil mane dui pashe 120 kore rakhar jonno 1296 dilam */
    margin: auto;

}
.GetEarlyMotherbutton{
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: rgb(70, 145, 101);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    outline: none; 
    font-family:'Inter';
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.BannerContent{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 16px;  
}
.MotherBanner{
    background-image: url(./assets/hero-bg.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.EANOButton{
    color:rgb(70, 145, 101);
    background-color: white;
    border-radius: 1000px;
    padding: 8px 12px;
    border:none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    flex-direction: row;
    gap: 7.5px;
}
.BannerContent h2{
    font-family: 'Inter';
    font-weight:bold;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
}
.BannerWhiteT{
    color: white;
    opacity: 0.9;
}
.BannerGreenT{
    color:rgb(48, 184, 104);
    opacity: 0.9;
}
.BannerContent p{
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    opacity: 0.9;

}
.SYOVButton{
    border-radius: 4px;
    background-color: rgb(70, 145, 101);
    border: none;
    padding: 12px 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.SYOVButtonProblemsolver{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.SHIWButton{
    border-radius: 4px;
    padding: 12px 16px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    /* jodio direct line height daoya valo practice na apatoto dicchi */
}
.SHIWButton svg{
    margin-left: 5px;
}
.EachCard img{
    height: 32px;
    width: 32px;
     
}
.PNGSolver{
    background-color: rgba(249, 85, 85, 1);
    border-radius:50%;
    height:60px;
    width: 60px;
    /* left e 1px padding dite cheyechilam png complete center e anar jonno but odvut lage */


}
.EachCard h2{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    color: rgba(0, 25, 49, 1);
}
.EachCard p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(98, 115, 130, 1);
}
.EachCard{
    gap: 16px;
    padding: 24px;
    flex:1;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    height: 270px;
    /* vai amar ekta prosno card section arr brain section evabe overlapp kivabe koriyechen? */
}
.Cardh2{
    font-family: 'Inter';
    color:rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.CardP{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(98, 115, 130, 1);
}
.YourBrainRightContent h3{
    color:rgba(70, 145, 101, 1);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
.YourBrainRightContent h2{
    Color:rgba(0, 25, 49, 1);
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
}
.YourBrainRightContent p{
    color:rgba(98, 115, 130, 1);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.YSBText p{
    color:rgba(0, 25, 49, 1);
    font-family:'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
.YSBText{
    display: flex;
    gap: 6px;
}
.checkMark{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.YRBrainh3h2p{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.YourBrainRightContent{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.SecondBrainSectionMother{
    display: flex;
    gap: 60px;
    padding: 120px;
}
.CardSectionMother {
    padding: 58px 0px 0px 0px;
    
} 
.ReadyToThinkSectionParent h2{
    color:rgba(0, 25, 49, 1);
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.ReadyToThinkSectionParent p{
    color:rgba(98, 115, 130, 1);
    font-family:'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.ReadyToThinkSectionParent{
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: rgba(247, 246, 242, 1);
}
.FooterUpper{
    display: flex;
    justify-content: space-between;
}
.SocialLinksParent h3{
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.SocialLinksParent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.CopyrightT{
    color: rgba(250, 250, 250, 1);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.ThreeSocialLinks{
    display: flex;
    gap: 16px;
}
*{
    margin: 0;
}
/* adding hover effects as mentioned
... in the challenge part */

.GetEarlyMotherbutton{
    z-index: 0;
    position:relative;
    cursor: pointer;
}
.GetEarlyMotherbutton::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(70, 145, 101);
    border-radius: 4px;
}
/* glow */
.GetEarlyMotherbutton::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    background:linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 4px;
    filter: blur(8px);
    background-size: 600%;
    animation:glowing 20s linear infinite;
    transition: opacity  .3s ease-in-out;
    opacity: 0;

}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.GetEarlyMotherbutton:hover::before{
    opacity: 1;
}
.GetEarlyMotherbutton:active::after{
    background: transparent;
}
.EANOButton{
    z-index: 0;
    position:relative;
    cursor: pointer;
}
.EANOButton::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:white;
    border-radius: 1000px;
}
/* glow2 */
.EANOButton::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    background:linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 4px;
    filter: blur(8px);
    background-size: 600%;
    animation:glowing 20s linear infinite;
    transition: opacity  .3s ease-in-out;
    opacity: 0;

}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.EANOButton:hover::before{
    opacity: 1;
}
.EANOButton:active::after{
    background: transparent;
}
.SYOVButton{
    z-index: 0;
    position:relative;
    cursor: pointer;
}
.SYOVButton::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(70, 145, 101);
    border-radius: 4px;
}
/* glow3 */
.SYOVButton::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    background:linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 4px;
    filter: blur(8px);
    background-size: 600%;
    animation:glowing 20s linear infinite;
    transition: opacity  .3s ease-in-out;
    opacity: 0;

}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.SYOVButton:hover::before{
    opacity: 1;
}
.SYOVButton:active::after{
    background: transparent;
}
.SHIWButton{
    z-index: 0;
    position:relative;
    cursor: pointer;
}
.SHIWButton::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:transparent;
    border-radius: 4px;
}
/* glow4 */
.SHIWButton::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    background:linear-gradient(
        45deg,
        #FF0000, green, #FF0000
    );
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 4px;
    filter: blur(8px);
    background-size: 600%;
    animation:glowing 20s linear infinite;
    transition: opacity  .3s ease-in-out;
    opacity: 0;

}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.SHIWButton:hover::before{
    opacity: 1;
}
.SHIWButton:active::after{
    background: transparent;
}